.banner-img{
    width: 400px;
    height: 350px;
    justify-content: center;
    position: relative;
    justify-items: center;
    align-items: center;
}                   
.banner-container{
    justify-content: center; 
    display: flex;
    background-color: rgb(255, 235, 235);
    height: 100vh;
    
    position: relative;
    /* justify-items: center; */
    align-items: center;
    text-align: center;
}
    

.tittle{
    font-size: 80px;
    font-weight: bold;
    color: rgb(36, 32, 32);
    text-align: justify; 
    /* align-items: center; */
    justify-content: center;
    justify-items: center;
  

}
.text{
    color: rgb(150, 64, 143);
    font-size: 18px;
    text-align: justify;
 
    /* align-items: justify; */
}
.btn{   
    padding: 20px 30px;
    background-color: rgba(255, 0, 85, 0.863);
    color: white;
    border: none;
    border-radius: 5px;
}
.tittle-clr{
    color: rebeccapurple;
   

}
.banner-info{
    text-align: center ;
    /* text-align: end; */
/* align-content: center; */
padding: 20px 40px 60px 80px;
margin-top: 20px;
margin-bottom: 20px;

    }