.banner-img{
    width: 450px;
    height: 400x;
    position: relative;
    align-items: center;
    justify-content: space-around;
}                   
.banner-container{
    justify-content: space-around; 
    display: flex;
    background-color: rgb(255, 235, 235);
    height: 100vh;
    
    position: relative;
    /* justify-items: center; */
    align-items: center;
    text-align: center;
}
    

.tittle{
    font-size: 80px;
    font-weight: bold;
    color: rgb(36, 32, 32);
    text-align: justify; 
    /* align-items: center; */
    justify-content: center;
    justify-items: center;
  

}
.text{
    color: rgb(150, 64, 143);
    font-size: 18px;
    /* text-align: justify; */
 
    align-items: center;
}
.btn{   
    padding: 20px 30px;
    background-color: rgba(255, 0, 85, 0.863);
    color: white;
    border: none;
    border-radius: 5px;
}
.tittle-clr{
    color: rgb(204, 95, 62);
   

}
.banner-info{
    text-align: center ;
    /* text-align: end; */
/* align-content: center; */
padding: 20px 40px 60px 80px;
margin-top: 20px;
margin-bottom: 20px;

    }
.main-part{
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 216, 216);
    border-radius: 8px;
    text-align: center;
align-items: center;    }
.tittle-cl{
    color: rgb(104, 22, 236);
}
.heading{   
justify-content: space-around;

}
.photo{
    display: flex;
    
    /* padding: 16%; */
    height: 280px;
    width: 250px;
align-content: center;    
margin-left: 17%;
}
.heading{
    text-align: center;



}
.paragraph{
    text-align: center;
}
.bg-container{
    width: 1440px;
    text-align: center;
    height: 449px;
    margin: 2%;
    /* align-items: center; */
justify-content: center;    
border-radius: 8px;
align-content: center;
padding: 8px 8px 8px 8px ;
    

 
}
.flex{
    width: 700px;
    height: 64px;
    align-content: justify;


}